{% extends "layout.html" %}

{% block title %}
    Expenditure edit
{% endblock %}

{% block main %}
    <main class="login">
        <div class="col-md-7 order-md-2 mb-4 div-one">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Expenditure</span><span class="text-muted" id="getData">Test</span>
            </h4>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td>Name</td>
                    <td>Price</td>
                    <td>
                        <form role="form" action="/delexpenditure" method="post"
                              onsubmit="return checkDateOnExpdeditureMainForm();">
                                <span>
                                    <button class="btn btn-primary btn-sm" type="submit">Delete</button>
                                </span>
                            <input type="hidden" name="category" value="category">
                            <input type="hidden" name="date" value="">
                            <input type="hidden" name="name" value="name">
                            <input type="hidden" name="price" value="price">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}