{% extends "layout.html" %}

{% block title %}
    Expenditure review
{% endblock %}

{% block main %}
    <main class="login">

        <div class="side-div-wrapper">
            <!--left panel-->
            <div class="col-md-6 order-md-2 mb-4 div-one">
                <form role="form" action="/expreview" method="post">
                    <span>
                        <label for="start">Start date:</label>
                        <input type="date" id="start" name="startdate" value="{{ begin }}">
                    </span>
                    <span>
                        <label for="end">End date:</label>
                        <input type="date" id="end" name="enddate" value="{{ end }}">
                    </span>
                    <span>
                        <button class="btn btn-primary btn-sm" type="submit">Show</button>
                    </span>
                </form>
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Expenditure</span>
                </h4>
                <table class="table table-bordered">
                    <tbody>
                    {% for expenditure in expendituresData %}
                        <tr>
                            <td>{{ expenditure[0] }}</td>
                            <td>&euro;{{ expenditure[1] }}</td>
                            <td>
                                <button class="btn btn-primary btn-sm" type="button"
                                        onclick="expandExpenditures('{{ expenditure[0] }}','{{ begin }}','{{ end }}')">
                                Expand</button>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr class="text-success">
                        <td colspan="2">Total (&euro;)</td>
                        <td>&euro; {{ expendituresSum }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--right panel-->
            <div class="col-md-4 order-md-2 mb-4 div-two" id="expexp">

            </div>
        </div>
    </main>
{% endblock %}