{% extends "layout.html" %}

{% block title %}
    Expenditure review
{% endblock %}

{% block main %}
    <main class="login">

        <div class="side-div-wrapper">
            <!--left panel-->
            <div class="col-md-6 order-md-2 mb-4 div-one">
                <form role="form" action="/increview" method="post">
                    <span>
                        <label for="start">Start date:</label>
                        <input type="date" name="startdate" value="{{ begin }}">
                    </span>
                    <span>
                        <label for="end">End date:</label>
                        <input type="date" name="enddate" value="{{ end }}">
                    </span>
                    <span>
                        <button class="btn btn-primary btn-sm" type="submit">Show</button>
                    </span>
                </form>
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Income</span>
                </h4>
                <table class="table table-bordered">
                    <tbody>
                    {% for income in incomesData %}
                        <tr>
                            <td>{{ income.date }}</td>
                            <td>{{ income.type }}</td>
                            <td>&euro;{{ income.value }}</td>
                        </tr>
                    {% endfor %}
                    <tr class="text-success">
                        <td colspan="2">Total (&euro;)</td>
                        <td>&euro; {{ incomesSum }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--right panel-->
            <div class="col-md-4 order-md-2 mb-4 div-two" id="expexp">

            </div>
        </div>
    </main>
{% endblock %}