{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <main class="login">
        <div class="side-div-wrapper col-md-4 order-md-2 mb-4">
            <div class="div-one"><h7 class="mb-5">{{ user }} summary on:</h7></div>
            <div class="div-two"><h7 class="mb-5" id="currentDate"></h7></div>
        </div>
        <div class="side-div-wrapper">
            <!--left panel-->
            <div class="col-md-6 order-md-2 mb-4 div-one">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Expenditure</span>
                </h4>
                <ul class="list-group mb-3">
                    {% for expenditure in expendituresData %}
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">{{ expenditure[0] }}</h6>
                            </div>
                            <span class="text-muted">&euro;{{ expenditure[1] }}</span>
                        </li>
                    {% endfor %}
                    <li class="list-group-item d-flex justify-content-between text-success">
                        <span><strong>Total (&euro;)</strong></span>
                        <strong>&euro;{{ expendituresSum }}</strong>
                    </li>
                </ul>
            </div>
            <!--right panel-->
            <div class="col-md-4 order-md-2 mb-4 div-two">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Income</span>
                </h4>
                <ul class="list-group mb-3">
                    {% for income in incomes %}
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">{{ income.type }}</h6>
                            </div>
                            <span class="text-muted">&euro;{{ income.value }}</span>
                        </li>
                    {% endfor %}
                    <li class="list-group-item d-flex justify-content-between text-success">
                        <span><strong>Total (&euro;)</strong></span>
                        <strong>&euro;{{ incomesTotal }}</strong>
                    </li>
                    <li class="list-group-item d-flex justify-content-between text-success">
                        <span><strong>Balance (&euro;)</strong></span>
                        <strong>&euro;{{ balance }}</strong>
                    </li>
                </ul>
            </div>
        </div>
    </main>
{% endblock %}