{% extends "layout.html" %}

{% block title %}
    Sign up
{% endblock %}

{% block main %}
    <main class="login">
        <form name="login" role="form" class="mx-auto w-25"
              onsubmit="return validateForm();" action="/signup" method="get">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                       placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input name="password" type="password" class="form-control"
                       id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="passordConfirmation">Password confirmation</label>
                <input name="passwordconfirmation" type="password" class="form-control"
                       id="passordConfirmation" placeholder="Confirm password">
            </div>
            <div class="error form-group"></div>
            <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
    </main>
{% endblock %}